{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <br>
      {{ range (.Site.RegularPages.GroupByParam "type")}}
         {{ if eq .Key "hack-day"}}
         <h3>{{ .Key }}</h3>
         <div>
           <ul>
            {{range .Pages}}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{end}}
           </ul>
          </div></br>
          {{ end }}
       {{ end }}
      {{ range (.Site.RegularPages.GroupByParam "type")}}
         {{ if eq .Key "hack-ideas"}}
         <h3>{{ .Key }}</h3>
         <div>
           <ul>
            {{range .Pages}}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{end}}
           </ul>
          </div></br>
          {{ end }}
       {{ end }}
      {{ range (.Site.RegularPages.GroupByParam "type")}}
         {{ if eq .Key "collaborative-ideas"}}
         <h3>{{ .Key }}</h3>
         <div>
           <ul>
            {{range .Pages}}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{end}}
           </ul>
          </div></br>
          {{ end }}
       {{ end }}
    </main>
{{ end }}
