{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <br>
       {{ range (.Site.RegularPages.GroupByParam "year").Reverse}}
          <h3>{{ .Key }}</h3>
          <div>
          {{ range (.Pages.GroupByParam "type").Reverse}}
            <dl>
               <dt><strong>{{ .Key }}</strong></dt>
               {{range .Pages}}
                  <dd><a href="{{.Permalink}}">{{.Title}}</a></dd>
               {{end}}
            </dl>
          </div>
      {{ end }}
    {{ end }}
    </main>
{{ end }}
