.carousel {
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 2rem;
    overflow: hidden;
    --height: 400px; /* Define the variable with the name '--main-color' and value '#008080' */
}

ul.slides {
    display: block;
    position: relative;
    height: var(--height);
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}

.slide-container { 
    display: block; 
}


.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
    cursor: pointer;
}   

/* Child Text Container */
.slide-image div{
    position: absolute;
    top: 0;
    background: black;
    color: white;
    margin: 1rem 1rem;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    text-align: center;
}

.slide-image:hover div {
    width: 80%;
    visibility: visible;
    opacity: 1; 
}

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.slide-image:hover {
    opacity: 0.8; 
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: var(--height);
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 10%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 10%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}


input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input:not(:checked) + .slide-container .slide-image {
    display: none; 
}


input#img-0:checked ~ .carousel-dots label#img-dot-0,
input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6,
input#img-7:checked ~ .carousel-dots label#img-dot-7,
input#img-8:checked ~ .carousel-dots label#img-dot-8,
input#img-9:checked ~ .carousel-dots label#img-dot-9,
input#img-10:checked ~ .carousel-dots label#img-dot-10
 {
	opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }